<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joaquin.events">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListadoAcontecimientosActivity"
            android:label="@string/title_activity_listado_acontecimientos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnadirAcontecimientoActivity"
            android:label="@string/title_activity_anadir_acontecimiento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VerAcontecimientosActivity"
            android:label="@string/title_activity_ver_acontecimientos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventosActivity"
            android:label="@string/title_activity_eventos"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>